<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<head>
<style>
body
{
    font-family:Verdana, sans-serif;
    font-size:8pt;
    width:600px;
}

th
{
    font-family:Verdana, sans-serif;
    font-size:8pt;
    text-align:left;
    width:180px;
}

th.even { background-color:#D9D9D9; }
th.odd  { background-color:#F2F2F2; }



td
{
    font-family:Verdana, sans-serif;
    font-size:8pt;
    text-align:left;
}

td.even { background-color:#F2F2F2; }
td.odd  { background-color:#FFFFFF; }

table
{
    text-align:left;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

.error
{
    color:red;
}

.good
{
    color:green;
}


.logo
 {
    float:left;
    margin:10px 10px 10px;
    vertical-align:middle
 }

.CEng
 {
   background-color: #660099;
   color: #ffffff;
 }

.problem { color:#FF8080; }

.recovery { color:#7DC56C; }

.acknowledgement { color:#006600; }

.downtimestart { color:#80FFFF; }

.downtimeend { color:#80FF80; }

.downtimecanceled { color:#FFFF80; }

.flappingstart { color:#FF8080; }

.flappingend { color:#80FF80; }

.flappingdisabled { color:#FFFF80; }

.down { color:#FF8080; }

.critical { color:#FF8080; }

.warning { color:#FFFF80; }

.unreachable { color:#80FFFF; }

.pending { color:#80FFFF; }

.unknown { color:#DE0AFF; }

.up { color:#80FF80; }

.ok { color:#80FF80; }

</style>
<body>

<% if @config['sensu_env'] == 'Prod: ' %>
  <p> Sensu - <a href="">Sensu Production</a></p>
<% elsif @config['sensu_env'] == 'QA: ' %>
  <p> Sensu - <a href="">Sensu Development</a></p>
<% else %>
  <p> Sensu - Test</a></p>
<% end %>

<table>
  <tr>
    <th colspan=2 class=Yieldbot></th>
  </tr>

  <tr>
    <th class=even>Notification Type:</th>
    <% if @config['notification_type'] == 'ALERT' %>
      <% @row_class = 'problem' %>
    <% elsif @config['notification_type'] == 'RESOLVED' %>
      <% @row_class = 'recovery' %>
    <% else %>
      <% @row_class = 'even' %>
    <% end %>
    <td class="<%= @row_class %>"><%= @config['notification_type'] %></td>
  </tr>

  <% if @config['orginator'] == 'sensu-monitoring' %>
    <%= ERB.new(IO.read("#{@template_path}/service_email.erb"), nil, nil, '_erbout2').result(binding) %>
    <% end %>


<tr>
  <th class=even>Host Name:</th>
  <td class=even><%= @config['monitored_instance'] %></td>
</tr>

<tr>
  <th class=odd>IP Address:</th>
  <td class=odd><%= @config['instance_address'] %></td>
</tr>

<tr>
  <th class=even>Event Time:</th>
  <td class=even><%= @config['incident_timestamp'] %></td>
</tr>

<tr>
  <th class=odd>Business Hours Instructions:</th>
  <td class=odd></td>
</tr>

<tr>
  <th class=even>After Hours Instructions:</th>
  <td class=even></td>
</tr>

<tr>
  <th class=odd>Contact List:</th>
  <td class=odd><a href=""></a></td>
</tr>

<tr>
  <th class=even>Comment:</th>
  <td class=even><%= @config['notification_comment'] %></td>
</tr>

<tr>
  <th class=odd>Author:</th>
  <td class=odd><%= @config['notification_author'] %></td>
</tr>

</table>
</body>
</html>
