
<tr>
    <th class=odd>Service Name:</th>
    <td class=odd><%= @config['check_name'] %></td>
  </tr>

<tr>
  <th class=odd>Service State:</th>
  <% if @config['check_state'] == 'OK' %>
    <% @row_class = 'ok' %>
  <% elsif @config['check_state'] == 'UNKNOWN' %>
    <% @row_class = 'unknown' %>
  <% elsif @config['check_state'] == 'CRITICAL' %>
    <% @row_class = 'critical' %>
  <% elsif @config['check_state'] == 'WARNING' %>
    <% @row_class = 'warning' %>
  <% else %>
    <% @row_class = 'odd' %>
  <% end %>
  <td class="<%= @row_class %>"><%= @config['check_state'] %></td>
</tr>

<tr>
  <th class=even>Service Output:</th>
  <td class=even><%= @config['check_output'] %></td>
</tr>

<tr>
  <th class=odd>Service Duration:</th>
  <td class=odd><%= @config['condition_duration'] %></td>
</tr>
